@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>


<form>
    <br />
    <input type="button" value="Anmelden" id="signInButton" name="signInButton"/>
</form>



@*Login In Form ohne Microsoft Konto

<form>
    <label for="username">Username</label>
    <br />
    <input type="text" name="username" id="username"/>

    <br />

    <label for="password">Password</label>
    <br />
    <input type="password" name="password" id="password"/>

    <input type="submit" value="Submit" />

</form>*@
